<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">

    <title>Garment workers Home</title>
</head>

<body>

    <h1>Garment workers Productivity Prediction</h1>

    <p>Enter the feature here</p>

    <form action="{{url_for('predict')}}" method="post">

        <!-- Input From The User -->

        <ul>

            <li><label for="month">Month:</label>
                <!-- placeholder is the hint text-->
                <select id="month" name="month" required="required">
                  <option value="">--Please choose an option--</option>
                  <option value="January">January</option> 
                  <option value="February">February</option>
                  <option value="March">March</option>
                  <option value="April">April</option>
                  <option value="May">May</option>
                  <option value="June">June</option>
                  <option value="July">July</option>
                  <option value="August">August</option>
                  <option value="September">September</option>
                  <option value="October">October</option>
                  <option value="November">November</option>
                  <option value="December">December</option>
                  </select>
            </li>

        <!-- This is the title for the input-->
        <li><label for="quarter">Quarter of the month:</label>
          <!-- placeholder is the hint text-->
          <select id="quarter" name="quarter" required="required">
            <option value="">--Please choose an option--</option>
            <option value="Quarter1">First Quarter</option> 
            <option value="Quarter2">Second Quarter</option>
            <option value="Quarter3">Third Quarter</option>
            <option value="Quarter4">Fouth Quarter</option>
            <option value="Quarter5">Fifth Quarter</option>
            </select>
        </li>

        <!-- This is the title for the input-->
        <li><label for="department">Associated department Name:</label>
            <!-- placeholder is the hint text-->
            <select id="department" name="department" required="required">
                <option value="">--Please choose an option--</option>
                <option value="sewing">Sewing</option> 
                <option value="finishing">Finishing</option>
                </select>
            </li>

            <li><label for="day">Day of the Week:</label>
                <!-- placeholder is the hint text-->
                <select id="day" name="day" required="required">
                  <option value="">--Please choose an option--</option>
                  <option value="Sunday">Sunday</option> 
                  <option value="Monday">Monday</option>
                  <option value="Tuesday">Tuesday</option>
                  <option value="Wednesday">Wednesday</option>
                  <option value="Thursday">Thursday</option>
                  <option value="Saturday">Saturday</option>
                  </select>
              </li>

              <li><label for="team">Associated team number:</label>
                <!-- placeholder is the hint text-->
                <select id="team" name="team" required="required">
                  <option value="">--Please choose an option--</option>
                  <option value="1">team #1</option> 
                  <option value="2">team #2</option>
                  <option value="3">team #3</option>
                  <option value="4">team #4</option>
                  <option value="5">team #5</option>
                  <option value="6">team #6</option>
                  <option value="7">team #7</option> 
                  <option value="8">team #8</option>
                  <option value="9">team #9</option>
                  <option value="10">team #10</option>
                  <option value="11">team #11</option>
                  <option value="12">team #12</option>
                  </select>
              </li>


        <li><label for="targeted_productivity">Targeted productivity for the day:</label>
            <input type="number" name="targeted_productivity" placeholder="targeted productivity for the day" step=".01" required="required" />
        </li>
<!-- 9 columns remains from smv to the end-->

        <li><label for="svm">Standard minute value allocated for a task:</label>
            <input type="number" name="svm" placeholder="minute allocated for a task" step=".01" required="required" />
        </li>

        <li><label for="wip">Number of unfinished items for products:</label>
            <input type="number" name="wip" placeholder="Number of unfinished items for products" step=".01" required="required" />
        </li>

        <li><label for="over_time">The amount of overtime by each team in minutes:</label>
            <input type="number" name="over_time" placeholder="The amount of overtime by each team in minutes" step=".01" required="required" />
        </li>

        <li><label for="incentive">the amount of financial incentive (in BDT) that enables or motivates a particular course of action:</label>
            <input type="number" name="incentive" placeholder="The amount of financial incentive (in BDT) that enables or motivates a particular course of action" required="required" />
        </li>

        <li><label for="idle_time">Time when the production was interrupted due to several reasons:</label>
            <input type="number" name="idle_time" placeholder="Time when the production was interrupted due to several reasons" step=".01" required="required" />
        </li>

        <li><label for="idle_men">The number of workers who were idle due to production interruption:</label>
            <input type="number" name="idle_men" placeholder="The number of workers who were idle due to production interruption" step=".01" required="required" />
        </li>

        <li><label for="no_of_style_change">Number of changes in the style:</label>
            <input type="number" name="no_of_style_change" placeholder="Number of changes in the style" step=".01" required="required" />
        </li>

        <li><label for="no_of_workers">Number of workers:</label>
            <input type="number" name="no_of_workers" placeholder="Number of workers" step=".01" required="required" />
        </li>

        <!-- submit button -->
        <li><button id="submit" type="submit">Predict</button></li>
        </ul>

    </form>

</body>
</html>
